.link {
    a {
        margin-right: 20px;
        padding: 5px 10px;
        border: 1px solid $grey;
        color: $white;
        border-radius: 5px;
        &:hover {
            color: $grey;
            border-color: $yellow;
        }
    }
}
.card__title {
    font-size: $font-size-largest;
    font-weight: bold;
    color: $yellow;
}
.card__text {
    color: $gray;
}
.detail {
    .image-container {
        padding-top: 20px;
    }
    .genres {
        font-size: $font-size-large;
        font-weight: bold;
    }
    .icon {
        color: $yellow;
    }
    .ibm {
        margin-left: 20px;
        margin-right: 20px;
    }
}