img {
    max-width: 100%;
}
.vod-content {
    border: 5px solid #b0bec5;
    border-radius: 5px;
    &:hover {
        border: 5px solid $yellow;
    }
    margin: 10px;
    cursor: pointer;
}
.pagination {
    margin: 0 0 30px;
}
.mt-30 .pagination {
    margin-top: 30px;
}
body {
    background: $dark !important;
}
.pagination__item {
    background-color: $gray;
    &.pagination__item--active {
        background: $yellow;
    }
    &:hover {
        background: $white;
    }
}
.total {
    color: $yellow;
}
.btn__content {
    background-color: $yellow;
    color: $black;
}