$yellow: #f60;
$white: #fff;
$black: #000;
$dark: #0E1623;
$grey: #c8c8c8;
$darken: #0a0e15;
$gray: #919191;


$font-size-base: 14px;
$font-size-normal: 18px;
$font-size-large: 22px;
$font-size-largest: 26px;